body {
  background-color: #f4faff;
}
section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: table;
  width: 350px;
  border: 2px solid #eee;
}
.aviso {
  text-align: center;
  height: 150px;
  padding: 20px;
}
.nuevaTarea input {
  border: none;
  padding: 0;
  padding-right: 2px;
  border-bottom: 1px solid #ccc;
  height: 40px;
  width: 350px;
  text-indent: 20px;
}
.nuevaTarea,
.contenedorTareas {
  padding: 5px 5px;
}
.contenedorTareas li p {
  padding: 0px 15px;
}
.flotaDerecha {
  float: right;
}
.flotaIzquierda {
  float: left;
}
ul li {
  list-style: none;
}
ul li input {
  margin: 2px;
}
.estado-true {
  text-decoration: line-through;
}
