<!doctype html>
<html lang="es" ng-app>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/vendor/underscore.js"></script>
        
    </head>
    <body>
         
        <section ng-controller="TAREAS">
            <div class="aviso"><h2>Henry tienes <p>{{getTareasPendientes()}}</p> tareas pendientes </h2>
            </div>
            <div class="nuevaTarea">
                <input type="text" ng-model="nuevaTarea" ng-keypress="agregarTarea($event)" placeholder="Nueva Tarea"/>
            </div>
            <div class="contenedortareas">
                <ul>
                <li ng-repeat="tarea in tareas">
                   <input type="checkbox" ng-model="tarea.estado" class="flotaIzquierda"ng-click="cambiarEstado(tarea.id)"/>
                   <p class="estado-{{tarea.estado}}">{{tarea.descripcion}}</p>
                </li>
                </ul>
            </div>
        </section>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="js/main.js"></script>      
    </body>
</html>
